/*
Crie uma receita (obrigatório) utilizando os comandos de manipulação de fonte
1. O texto deve ser alinhado ao centro
2. Utilize o h1 para dizer o nome da receita e nele insira uma fonte(familia) diferente dos demais elementos
3. Um dos ingredientes deve ter uma linha riscada
4. O tempo de preparo deve ser em itálico 
5. Para fins de estética visual pode se utilizar elementos background

Extra para estudo adicional:
6. Deve se colocar  na fonte cores de acordo com a prioridade dos ingredientes (Verde - obrigatorios / azul - a gosto)
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-align: center; 
    background-color: rgb(238, 238, 238);
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(142, 180, 4);
  }
  
h1 {
    font-family: 'Franklin Gothic Medium';
    color: #4e5700;
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
}

h6 {
    margin: 0;
}
 
.obrigatorio{
    color:darkgreen;
}
.a_gosto{
    color: blue;
}

p{
    text-align: center;
  }

img {
  display: block;
  margin: 0 auto;
}
