/*
Crie um Html com CSS que contenha os requisitos abaixo utilizando o assunto receita de bolo: Pode utilizar Css Inline , interno ou externo.
Utilizando <p> crie :

1.Paragrafo com fonte familia Courier , tamanho larger , estilo normal e grossura 800
2.Paragrafo com fonte familia Verdana , tamanho small , estilo Italico e grossura 200
3.Paragrafo com fonte familia monospace, tamanho normal , estilo oblicuo e grossura 500
4.Paragrafo com fonte familia Fantasy , tamanho X-small , estilo normal e grossura 400
*/

.courier{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: normal;
    font-weight: 800;
}
.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: italic;
    font-weight: 200;

}
.monospace{
    font-family: monospace;
    font-size: normal;
    font-style: oblique;
    font-weight: 500;

}
.fantasy{
    font-family: fantasy;
    font-size: x-small;
    font-style: normal;
    font-weight: 400;

}